@import-normalize;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  background-image: linear-gradient(#535252, #292929);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

p,
h1,
h2,
h3,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 60px;
  box-shadow: inset 0 -8px 10px 1px rgb(100, 100, 100);
}

main{
  padding: 80px 50px 30px;
}

footer {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-shadow: inset 0 8px 10px 1px rgb(100, 100, 100);
    & span {
    color: rgba(0, 128, 0, 0.5);
  }
}

.logo {
  display: inline;
  font-family: "Lovers Quarrel", cursive;
  font-size: 48px;
  color: rgb(1, 17, 31);
  text-shadow: 3px 3px 2px rgba(0, 128, 0, 0.5);
  cursor:pointer;
  &:hover {
  animation-name: animateLogo;
    animation-duration: 4000ms;
animation-iteration-count: infinite;
    animation-timing-function: linear;
    }
}

footer .logo {
  font-size: 28px;
}

.navigation {
  display: flex;
  gap: 20px;

  & * {
    color: rgba(170, 170, 170, 0.8);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    transition: all 0.5s linear;
  }
  & *:hover {
    transform: scale(1.2);
    text-shadow: 1px 1px 1px rgba(0, 128, 0, 0.5);
  }
}

.toggle-language_btn{
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: block;
  font-size: 20px;
  background-color: rgba(0, 128, 0, 0.5);
  color: rgb(200, 200, 200);
  padding: 10px;
  border: none;
  border-radius: 10px;
}


@keyframes animateLogo {
  0% {
    transform: rotate(10deg);
  }

  33% {
    transform: rotate(-10deg);
    }

  66% {
    transform: rotate(20deg);  }

  95% {
    transform: rotate(-20deg);
    }

  100% {
    transform: rotate(10deg);
    }
}