@import-normalize;

:root {
  --accent-color: rgba(0, 128, 0, 0.5);
  --background-main: rgb(255, 255, 255);
  --background-dark: rgb(100, 100, 100);
  --text-navigation: rgba(170, 170, 170, 0.8);
  --text-color: rgba(255, 255, 255, 0.8);

  --font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;

  --transition-function: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  background-image: linear-gradient(
    rgb(68, 59, 59, 0.8),
    rgb(112, 112, 112, 0.8)
  );
  min-height: 100vh;
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

*::selection {
  color: var(--text-color);
  background-color: var(--accent-color);
}

img,
h1,
h2,
h3,
p,
ul,
li,
section {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  border-radius: 20px;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper{
  height: 100vh;
  overflow-y: auto;
  scroll-behavior:smooth;
}

header {
  position: relative;
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 60px;
  box-shadow: inset 0 -8px 10px 1px rgb(150, 150, 150);
  background-color: transparent;
}

main {
  flex: 1;
}

footer {
  display: flex;
  height: 10vh;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-shadow: inset 0 8px 10px 1px rgb(100, 100, 100);
  & span {
    color: var(--accent-color);
  }
}

.logo {
  display: inline;
  font-family: "Lovers Quarrel", cursive;
  font-size: 48px;
  color: rgb(1, 17, 31);
  text-shadow: 3px 3px 2px var(--accent-color);
  cursor: pointer;
  &:hover {
    animation-name: animateLogo;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

footer .logo {
  font-size: 28px;
}

.navigation {
  display: flex;
  gap: 20px;

  & * {
    color: var(--text-navigation);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    transition: var(--transition-function);
  }
  & *:hover {
    transform: scale(1.2);
    color: var(--text-color);
    text-shadow: 1px 1px 1px var(--accent-color);
  }
}

#about {
  margin-top: -80px;
  height: 800px;
  padding: 80px 50px 30px;
  background-image: url("./images/main-photo.png");
  background-repeat: no-repeat;
  background-position: top 0 right 0;
  background-size: 45%;
  background-attachment: fixed;

  color: var(--text-color);

  & span {
    color: var(--accent-color);
  }
  & .name {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 80px;
    margin: 80px 0 50px 40px;
  }
  & .position {
    font-size: 40px;
    margin-left: 40px;
    text-decoration: underline;
  }
  & .information {
    position: relative;
    z-index: 2;
    margin: 150px auto;
    padding: 50px 20px;
    width: 75%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: var(--background-dark);
    border-radius: 5px;
  }

  & .about-me {
    width: 80%;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--text-color);
    font-size: 20px;
  }

  & .download {
    display: block;
    min-width: 150px;
    padding: 10px 20px;
    border: 1px solid var(--background-main);
    border-radius: 20px;
    text-align: center;
    transition: var(--transition-function);
    font-weight: 600;

    &:hover {
      border: 1px solid var(--accent-color);
      color: var(--accent-color);
      background-color: var(--background-main);
    }
  }
}

#skills {
  min-height: 100vh;
  padding: 30px 50px;
  background-image: linear-gradient(
      rgba(68, 59, 59, 0.5),
      rgba(112, 112, 112, 0.5)
    ),
    url("./images/skills.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  display: flex;
  align-items: flex-end;

  & .skills-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  & .skills-row {
    display: flex;
    justify-content: center;
    gap: 10px;
    &:last-child {
      width: 80%;
      & > * {
        padding: 20px 50px;
        background-color: rgba(0, 80, 0, 0.8);
      }
    }
  }
  & .skills-box {
    text-align: center;
    padding: 20px;
    background-color: var(--accent-color);
    border: 1px solid var(--background-dark);
    font-size: 20px;
    color: var(--text-color);
  }
}

#experience {
  min-height: 100vh;
  background-image: linear-gradient(
      rgba(68, 59, 59, 0.5),
      rgba(112, 112, 112, 0.5)
    ),
    url("./images/experience.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: flex;
  align-items: flex-end;

  & .experience-list {
    width: 1200px;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 100px;
    justify-content: flex-end;
    margin-bottom: 100px;
  }

  & .experience-item {
    & > p {
      display: inline;
    }
    &:first-child {
      margin-left: 200px;
    }
    &:nth-child(2) {
      margin-left: 300px;
    }
    &:nth-child(3) {
      margin-left: 600px;
    }
    &:last-child {
      margin-left: auto;
    }
  }

  & .company {
    color: var(--text-navigation);
    font-size: 20px;
  }

  & .duration {
    color: var(--text-color);
    font-size: 18px;
  }
  & .company::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--accent-color);
    margin: 0 85px;
  }
}

.toggle-language_btn {
  position: fixed;
  bottom: 10px;
  right: 30px;
  display: block;
  font-size: 20px;
  background-color: var(--accent-color);
  color: var(--text-color);
  padding: 10px;
  border: none;
  border-radius: 10px;
}

@keyframes animateLogo {
  0% {
    transform: rotate(10deg);
  }

  33% {
    transform: rotate(-10deg);
  }

  66% {
    transform: rotate(20deg);
  }

  95% {
    transform: rotate(-20deg);
  }

  100% {
    transform: rotate(10deg);
  }
}
