body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
background-image: linear-gradient(#535252, #292929);
background-repeat: no-repeat;
background-size: contain;
height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo{
  display: inline;
  font-family: 'Lovers Quarrel', cursive;
  font-size: 36px;
  color: rgb(1, 17, 31);
  text-shadow: 3px 3px 2px green;
}

footer .logo{
  font-size: 24px;
}
